*{
    margin: 0;
    padding: 0;
}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
}
.pro{
    margin: 5px;
    padding: 10px;
    background-color: aquamarine;
    align-content: center;
    text-align: center;
}
.red{
    color: red;
}
.btn-success{
    background-color: rgb(7, 192, 7);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: none;
}
@media screen and (max-width:768px) {
    body{
        background-color: orangered;
        padding: 10px;
    }
    .products{
        display: block;
    }
}